* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

/* !classi generiche */

:root {
  --header-background: #21333e;
  --hero-background: #e5e9ea;
  --green-text: #058283;
  --light-green-text: #45bbbc;
  --black-text: #21333e;
  --dark-blue: #111117;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.fixed-width {
  width: 60%;
  margin: auto;
}

.color-span {
  color: var(--green-text);
  background-color: rgba(5, 130, 131, 0.2);
  padding: 10px;
}

.button {
  padding: 15px 45px;
  vertical-align: middle;
  background-color: var(--green-text);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer !important;
}

.button:active {
  transform: scale(0.98);
}

/* !fine classi generiche */

/* !classi header */
header {
  height: 50px;
}

.header-background {
  background-color: var(--header-background);
  height: 50px;
}

header .upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 100%;
  background-color: var(--header-background);
}

header .upper * {
  opacity: 0.9;
}

header .upper i {
  margin-right: 3px;
}

header .upper span {
  margin-right: 20px;
}

header .upper .social {
  margin-right: 0;
}

header .upper .social a {
  text-decoration: none;
  color: inherit;
  margin-left: 30px;
}

/* !fine header */

/* !inizio jumbotron */
.jumbotron .header-bottom {
  max-height: 100px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jumbotron .header-bottom ul {
  flex: 2;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.jumbotron .header-bottom ul li {
  cursor: pointer;
}
.jumbotron .header-bottom ul a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  text-transform: uppercase;
  font-style: inherit;
}

.jumbotron .header-bottom .logo {
  flex: 2;
}

.jumbotron .header-bottom img {
  height: 45px;
}

.jumbotron {
  background-image: url("img/bg-6.jpg");
  min-height: 1000px;
  background-position: top;
  background-position-y: 35%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.jumbotron .user-data-container {
  transform: translateY(100px);
  height: 100%;
  position: relative;
}

.jumbotron .user-data {
  height: 70%;
  width: 500px;
  position: absolute;
  right: 0;
  top: 0;
}

.jumbotron .user-data h3,
.about-content .company-description h3 {
  color: var(--light-green-text);
  text-transform: uppercase;
  font-size: 1rem;
}
.jumbotron .user-data h1 {
  color: var(--black-text);
  font-size: 5rem;
  font-weight: 800;
  margin-bottom: 50px;
}

.jumbotron .user-data .input-data {
  height: 150px;
  display: flex;
  flex-wrap: wrap;
}

.jumbotron .user-data .button {
  font-size: 1.2rem;
  padding: 10px 35px;
  font-weight: normal;
}

.jumbotron .user-data .button:last-child {
  background-color: transparent;
  border: 1px solid var(--green-text);
  color: var(--green-text);
  margin-left: 10px;
}

.jumbotron .user-data .input-data input {
  padding: 10px 20px;
  min-width: 240px;
  max-height: 45px;
  min-height: 45px;
  background-color: lightgrey;
  border: 0;
  margin-right: 10px;
  border-radius: 5px;
}

.input-data .arrow-down {
  position: relative;
  height: 45px;
}
.input-data .arrow-down i {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
  cursor: pointer;
}

/* !fine jumbotron */

/* !inizio about */
.about {
  padding: 200px 0;
  background-color: var(--dark-blue);
}

.about-content {
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-content > div {
  flex: 1;
  height: 60%;
}

.about-content .company-description {
  padding: 0 100px 0 0 !important;
}

.about-content .company-description h1 {
  color: #fff;
  font-size: 3rem;
  margin: 50px 0;
  font-weight: 800;
  display: inline-block;
}

.about-content p {
  opacity: 0.8;
  line-height: 30px;
  font-size: 1.2rem;
}

.about-content .company-perks {
  display: flex;
  flex-wrap: wrap;
}

.about-content .company-perks .perk {
  width: 50%;
}

.about-content .company-perks i {
  color: var(--green-text);
  font-size: 1.5rem;
}

.about-content .company-perks h1 {
  margin: 40px 0;
  display: inline-block;
}

/* !fine about */

/* !inizio services */
.services {
  width: 100%;
  background-color: #eef4ed;
}

.services-content {
  padding: 200px 0;
  display: flex;
  flex-direction: column;
}

.services-content .description-container {
  position: relative;
  margin-bottom: 70px;
}

.services-content .description {
  width: 60%;
}
.services-content .description h3,
.progress-dots .description h3,
.team-content .left-content .description h3,
.subscribe .left-side .description h3 {
  color: var(--light-green-text);
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 40px;
}
.services-content .description h1,
.progress-dots .description h1,
.team-content .left-content .description h1,
.subscribe .left-side .description h1 {
  color: var(--dark-blue);
  font-size: 3rem;
  font-weight: 800;
  margin: 20px 0;
}

.services-content .description p,
.progress-dots .description p,
.team-content .left-content .description p,
.subscribe .left-side .description p {
  color: grey;
  line-height: 30px;
  margin-top: 40px;
  font-size: 1.2rem;
}

.services-content .description-container button {
  position: absolute;
  right: 0;
  top: 70%;
  font-weight: 600;
}

.services-content .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.services-content .box-container .box {
  min-height: 300px;
  width: calc((100% / 3) - 15px);
  background-color: white;
  border-radius: 10px;
  padding: 60px;
  position: relative;
}

.services-content .box-container .box .fa-arrow-right {
  position: absolute;
  right: 60px;
}

.services-content .box-container i {
  color: var(--green-text);
  cursor: pointer;
}

.services-content .box-container h1 {
  margin: 20px 0;
}
.services-content .box-container p {
  color: grey;
  line-height: 25px;
}

/* !fine services */

/* !inizio progress-dots */
.progress-dots {
  text-align: center;
  padding: 200px;
}

.progress-dots .description h1 {
  margin: 30px 0 !important;
}

.progress-dots .dots-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.progress-dots .dots-container .dot {
  position: relative;
}

.progress-dots .dots-container .dot .number {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 50%;
  color: var(--green-text);
  background-color: lightblue;
  font-size: 1rem;
  font-weight: bold;
}

.progress-dots .dots-container .dot .details {
  margin-top: 100px;
}

.progress-dots .dots-container .dot .details h1 {
  color: var(--black-text);
  margin-bottom: 10px;
}

.progress-dots .dots-container .dot .details p {
  color: grey;
  line-height: 25px;
}

.dot:first-child::after {
  content: "";
  position: absolute;
  top: 17px;
  width: 200vw;
  transform: translateX(-450px);
  height: 5px;
  background-color: rgba(5, 130, 131, 0.1);
  z-index: -1;
}

/* !fine progress dots */

/* !inizio team */
.team {
  background-color: var(--dark-blue);
}

.team-content {
  display: flex;
  padding: 200px 0;
}

.team-content .left-content {
  color: white;
  width: 65%;
  display: flex;
  flex-direction: column;
}

.team-content .right-content {
  width: 35%;
}

.team-content .left-content .description .color-span {
  color: white;
}

.team-content .left-content .description h1 {
  color: white;
  margin: 40px 0;
}
.team-content .left-content .description p {
  font-size: 1.5rem;
}

.team-content .left-content .photo-album {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.team-content .left-content .photo-album .photo-element .content img {
  height: 200px;
  border-radius: 10px;
  margin-right: 30px;
}

.team-content .left-content .photo-album .photo-element .content {
  display: flex;
}

.team-content
  .left-content
  .photo-album
  .photo-element
  .content
  .person-details {
  display: flex;
  flex-direction: column;
}

.person-details h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.person-details h3 {
  color: grey;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.person-details .icons {
  display: flex;
  align-items: center;
  gap: 2px;
}

.person-details .icons i {
  font-size: 1.2rem;
  color: var(--green-text);
  padding: 12px;
  background-color: rgba(5, 130, 131, 0.2);
  border-radius: 50%;
  margin-right: 5px;
}

.right-content .speech {
  color: white;
  border-radius: 10px;
  margin-left: 20%;
  padding: 50px;
  position: relative;
  background-color: var(--green-text);
}

.right-content .speech h1 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}
.right-content .speech p {
  font-size: 1.3rem;
  line-height: 35px;
  font-style: italic;
  opacity: 0.7;
  margin-bottom: 50px;
}

.right-content .speech h2 {
  position: absolute;
  bottom: 50px;
}

.right-content .speech i {
  color: darkgreen;
  position: absolute;
  right: 50px;
  bottom: 50px;
}

/* !fine team */

/* !inizio latest */
.latest-news .image-container {
  display: flex;
  gap: 50px;
}

.latest-news .image-container .image {
  text-align: center;
  background-color: red;
  height: 500px;
  width: calc(100% / 3);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 50px;
  position: relative;
}

.latest-news .image-container .image:nth-child(1) {
  background-image: url("img/news-1.jpg");
}
.latest-news .image-container .image:nth-child(2) {
  background-image: url("img/news-2.jpg");
}
.latest-news .image-container .image:nth-child(3) {
  background-image: url("img/news-3.jpg");
}

.latest-news button,
.services button {
  font-size: 1.2rem;
  font-weight: normal !important;
}

.latest-news .image-container .image h1 {
  font-size: 2.5rem;
  position: absolute;
  bottom: 50px;
  right: 25px;
  left: 25px;
}

/* !fine latest */

/* !inizio subscribe */
.subscribe {
  background-image: url("img/bg-1.jpg");
  padding: 200px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.subscribe-content {
  display: flex;
  width: 40%;
  margin: auto;
}

.left-side {
  width: 50%;
  padding: 0 50px;
}

.left-side h1 {
  color: white !important;
}
.left-side .color-span {
  color: white !important;
}
.right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.right-side input {
  padding: 10px 20px;
  width: 100%;
  min-height: 45px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 0;
  margin-right: 10px;
  border-radius: 5px;
}

/* !fine subscribe */

/* !inizio footer */

footer {
  background-color: var(--dark-blue);
  padding: 200px 0;
}

footer .pre-footer-content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  color: white;
}

footer .pre-footer-content .card {
  min-height: 400px;
  width: calc(100% / 5 + 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(146, 145, 145, 0.1);
  border-radius: 10px;
}

footer .pre-footer-content .card h1 {
  margin-bottom: 40px;
}

footer .pre-footer-content .card li {
  white-space: nowrap;
  opacity: 0.7;
  margin-bottom: 15px;
  list-style-type: none;
}

footer .pre-footer-content .card a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

footer .pre-footer-content .card i {
  margin-right: 10px;
}

footer .pre-footer-content .card:first-child {
  background-color: transparent;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  display: flex;
}

footer .pre-footer-content .card:first-child div {
  margin-bottom: 20px !important;
}

footer .pre-footer-content .card:first-child span {
  opacity: 0.7;
}

footer .pre-footer-content .card img {
  width: 50%;
  margin-bottom: 20px;
  color: white;
  background-color: white;
}

.bottom-footer {
  background-color: black;
  min-height: 100px;
  color: white;
}

.bottom-footer-content {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bottom-footer-content a {
  text-decoration: none;
  color: var(--green-text);
}
