* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

:root {
  --header-background: #21333e;
  --hero-background: #e5e9ea;
  --green-text: #058283;
  --light-green-text:#45bbbc;
  --black-text: #21333e;
  --dark-blue: #111117;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
}


.fixed-width{
    width: 60%;
   margin: auto;
}

.button {
  padding: 15px 45px;
  vertical-align: middle;
  background-color: var(--green-text);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer !important;
}

.button:active {
  transform: scale(0.98);
}

header {
  height: 50px;
}

.header-background {
  background-color: var(--header-background);
  height: 50px;
}

header .upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  height: 100%;
  background-color: var(--header-background);
}

header .upper * {
  opacity: 0.9;
}

header .upper i {
  margin-right: 3px;
}

header .upper span {
  margin-right: 20px;
}

header .upper .social {
  margin-right: 0;
}

header .upper .social a {
  text-decoration: none;
  color: inherit;
  margin-left: 30px;
}

.jumbotron .header-bottom {
  max-height: 100px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jumbotron .header-bottom ul {
  flex: 2;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.jumbotron .header-bottom ul li {
 cursor: pointer;
}

.jumbotron .header-bottom .logo {
  flex: 2;
}

.jumbotron .header-bottom img {
  height: 45px;
}

.jumbotron {
  background-image: url("img/bg-6.jpg");
  min-height: 1000px;
  background-position: top;
  background-position-y: 35%;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}



.jumbotron .user-data-container {
    transform: translateY(100px);
    height: 100%;
    position:relative;
    
    

}

.jumbotron .user-data {
    height: 70%;
    width: 500px;  
    position: absolute;
    right: 0;
    top: 0;
}

.jumbotron .user-data h3, .about-content .company-description h3   {
    color: var(--light-green-text);
    text-transform: uppercase;
    font-size: 1rem;
   
}
.jumbotron .user-data h1 {
    color: var(--black-text);
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 50px;
    
   
}



.jumbotron .user-data .input-data {
    height: 150px;
    display:flex;
    flex-wrap: wrap;
}

.jumbotron .user-data .button{
    font-size: 1.2rem;
     padding: 10px 35px;
     font-weight: normal;
    
}

.jumbotron .user-data .button:last-child{
   background-color:transparent;
   border: 1px solid var(--green-text);
   color: var(--green-text);
   margin-left: 10px;
}



.jumbotron .user-data .input-data input {
    padding: 10px 20px;
    min-width: 240px;
    max-height: 45px;
    min-height: 45px;
    background-color: lightgrey;
    border: 0;
    margin-right: 10px;
    border-radius: 5px;
}


.input-data .arrow-down{
    position:relative;
    height: 45px;
}
.input-data .arrow-down i{
    position:absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
    cursor: pointer;
}


.about {
    padding: 200px 0;
    background-color: var(--dark-blue);  
}

.about-content {
    height: 100%;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-content > div {
    flex: 1;
    height: 60%
}

.about-content .company-description {
  padding: 0 100px !important;
  
}

.about-content .company-description h1 {
 color:#fff;
 font-size: 3rem;
 margin: 70px 0;
 font-weight: 800;
 display: inline-block;
}

.about-content p {
    opacity: 0.8;
    line-height: 25px;
    font-size: 1.2rem;
}

.about-content .company-description h1 span {
    background-color: rgba(5, 130, 131,0.3);
    padding: 10px;
    
}


.about-content .company-perks{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: end;
}
.about-content .company-perks i {
  color: var(--green-text);
  font-size: 1.5rem;
}

.about-content .company-perks h1 {
  margin: 40px 0;
  display: inline-block;
}



.services {
  width: 100%;
  background-color: #eef4ed;
}

.services-content {
  padding: 200px 0;
  display:flex;
  flex-direction: column;
}

.services-content .description-container {
  position: relative;
  margin-bottom: 70px;
}

.services-content .description {
  width: 60%;
}
.services-content .description h3 {
  color: var(--light-green-text);
  text-transform: uppercase;
}
.services-content .description h1 {
  color: var(--dark-blue);
  font-size: 3rem;
  font-weight: 800;
  margin: 20px 0;
}

.services-content .description h1> span {
  color: var(--green-text);
  background-color: rgba(5, 130, 131,0.2);
}

.services-content .description p{
  color: grey; 
  line-height: 30px;
}

.services-content .description-container button {
  position: absolute;
  right: 0;
  top: 70%;
  font-weight: 600;
}


.services-content .box-container {
  display:flex;
  flex-wrap: wrap;
  gap: 20px;
}


.services-content .box-container .box {
  min-height: 300px;
  width: calc((100% / 3) - 15px);
  background-color: white;
  border-radius: 10px;
  padding: 60px;
  position:relative;

}

.services-content .box-container .box .fa-arrow-right {
  position:absolute;
  right:60px;

}

.services-content .box-container i {
    color: var(--green-text);
  cursor: pointer;
}

.services-content .box-container h1 {
  margin: 20px 0;
}
.services-content .box-container p {
  color:grey;
  line-height: 25px;
}

